.vscode
*.pyc
dist
coverage.xml
.coverage


doc/_build/
doc/source/api/*


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.cov
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
[eE][nN][vV]*/
.[eE][nN][vV]*/
